$padding: 5px;

.text-input {
    position: relative;
    margin: 20px;
    span {
        position: absolute;
        top: $padding;
        transform: translate($padding);
    }
    &.focused {
        span {
            top: -16px;
            transform: translate(0);
            font-size: 12px;
        }
    }
    input {
        padding: $padding;
    }
}