$padding: 8px;

.text-input {
    position: relative;
    margin: 20px;
    span {
        position: absolute;
        top: $padding;
        transform: translate($padding);
        transition: all 0.1s;
    }
    &.focused {
        span {
            top: -16px;
            transform: translate(0);
            font-size: 12px;
        }
    }
    input {
        padding: $padding;
        border-radius: 5px;
        border: 1px solid;
    }
}