$padding: 8px;
$color: blueviolet;

.text-input {
    position: relative;
    margin: 20px;
    span {
        position: absolute;
        top: $padding;
        transform: translate($padding);
        transition: all 0.1s;
    }
    &.focused, &.is-filled {
        span {
            top: -16px;
            transform: translate(0);
            font-size: 12px;
        }
    }
    &.focused {
        span {
            color: $color;
        }
        input {
            border-color: $color;
            color: $color;
        }
    }
    input {
        padding: $padding;
        border-radius: 5px;
        border: 1px solid;
        outline: none;
    }
}